/* ================================= 
              WEB FONTS
==================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

/* ================================= 
  ELEMENT STYLES
==================================== */

body {
	background-color: red;
	
	/* color: #576366; */
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0;
	
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #14273c;
}

/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */
header {
		background: #fff;
}

/* IMAGES -------- */
.home-banner-image {
	/* background-image: url('./images/home_banner_image.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
    opacity: 0.78;
	display: block;
	padding :23.5%;


}

/* MAIN NAV -------- */
header,
.main-nav {
	display: flex;
	flex-wrap: wrap;
}

.main-nav a {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	padding: 1.25em 1.5em;
}

.main-nav a:hover,
.main-nav .active {
	color: #fc5c5d;
}

/* ICONS -------- */

.icn-logo img {
	width: 225px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 10px;
}
