/* ================================= 
              WEB FONTS
==================================== */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
	font-family: 'Source Sans Pro', sans-serif;
}
.nav-link {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.typing-text {
	font-family: 'Fjalla One', sans-serif;
	font-size: 2em;
	font-weight: bold;
}

nav a:active,
nav a:hover {
	color: #fc5c5d;
}

.btn {
	font-family: 'Fjalla One', sans-serif;
	border-radius: 24px;
	border: solid 2px #fc5c5d;
	font-weight: bold;
	background-color: transparent;
	padding: 10px 30px;
}

.apply-now-button {
	border: solid 2px #fc5c5d;
	background-color: #fc5c5d;
	color: #ffffff;
}

#how-help-button {
	color: black;
	background-color: white;
}

.read-more-button {
	background: white;
	color: black;
}

.read-more-button:active,
.read-more-button:hover {
	background: white;
	color: #fc5c5d;
}

.home-what-do-we-do {
	color: #fff;
	background-color: #fc5c5d;
	font-size: 18px;
	line-height: 2;
}

.about {
	font-size: 18px;
	line-height: 2;
}
/* ================================= 
  ELEMENT STYLES
==================================== */



/* ================================= 
  LAYOUT & PAGE STYLES
==================================== */
/* IMAGES -------- */
 
.home-banner-image {
	background-image: url('./images/home_banner_image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
}

.apply-now-banner-image {
	background-image: url('./images/apply_now_banner_image.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

.getintouch-message {
	height: 300px;
}

.apply-dates-deadlines {
	line-height: 2;
	color: red;
	font-size: 1em;
}

.apply-program-description {
	line-height: 2;
}

#apply-now-form-source-hyf {
	height: 100px;
}

#apply-now-form-education {
	height: 300px;
}